*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../photos/1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container header{
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.603);
    border-bottom: 1px double black;
}

.container header .logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(254, 222, 9);
}

.container header .header-text .kelas{
    font-size: 30px;
    color: white;
}

.container header .header-text .theme{
    font-size: 20px;
    color: white;
}

/* main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

main h2{
    color: white;
}

main .list-menu{
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(186, 136, 36, 0.855);
    color: white;
    font-size: 25px;
    box-shadow: 1px 1px 10px rgb(69, 64, 64);
}

main .list-menu ul li{
    list-style-type: none;
}



footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(186, 136, 36);
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}

footer p{
    text-align: center;
    color: white;
}

footer p a{
    color: purple;
    text-decoration: none;
    font-weight: 600;
}